{% extends 'ic/root.html' %}
{% block content %}
	{% include 'ic/nav.html' %}
	<div class="row">
		<div class="jaf_container grey lighten-5 col xl8 offset-xl2 l8 offset-l2 m12 s12">
			<div class="row">
				<h4> List Of JAFs </h4>
			</div>
			<div class="row">
				<table class="highlight bordered centered responsive-table">
					<thead>
						<tr>
							<th data-field="id">Jaff ID</th>
							<th data-field="name">Company</th>
							<th data-field="name">Job Profile</th>
							<th data-field="number">Resume Number</th>
							<th data-field="number">Students Applied</th>
						</tr>
					</thead>
					<tbody>
						{% for jaf in jaf_list %}
							<tr class='clickable-row' data-href="{% url 'ic:view_jaf' jaf.id %}">
								<td>{{ jaf.id }}</td>
								<td>{{ jaf.company }}</td>
								<td>{{ jaf.profile }}</td>
								<td>{{ jaf.resume_number }}</td>
								<td>{{ jaf.student_count }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		$( document ).ready(function() {
			 $(".clickable-row").click(function() {
		        window.location = $(this).data("href");
		    });
		});
	</script>
	{% include 'replace/footer.html' %}
{% endblock %}