{% extends 'ic/root.html' %}
{% block content %}
	<div class="row">
		<div class="jaf card grey lighten-5 col xl8 offset-xl2 l8 offset-l2 m12 s12">
			<div class="card-content black-text">
				<div class="row">
					<span class="card-title center">
						<h5>JAF of <span> {{jaf.company.name}} </span>({{jaf.id}} - {{jaf.profile.name}})
						<a class="btn-floating btn-small btn waves-effect right waves-light grey darken-4" onclick="editJaf();">
							<i class="material-icons small">edit</i>
						</a>
						</h5>
					</span>
				</div>
				<hr>
				<div class="row">
					<p><h6>Description</h6>{{jaf.description}}</p>
				</div>
				<div class="row">
					<p><h6>Additional Info</h6>{{jaf.other_details}}</p>
				</div>
				<div class="row">
					<p><h6>Requirements</h6>{{jaf.requirements}}</p>
				</div>
				<div class="row">
					<div class="col m6">
						<p><h6>Accomodation</h6>{{jaf.accomodation}}</p>
					</div>
					<div class="col m6">
						<p><h6>Posting</h6>{{jaf.posting}}</p>
					</div>
				</div>
				<hr>
				<div class="row">
					<p><h6>Eligibily Details</h6></p>
					<table class="striped bordered centered">
						<thead>
							<tr>
								<th>Departments</th>
								{% for program in program_list %}
								<th>{{program.name}}</th>
								{% endfor %}
							</tr>
						</thead>
						<tbody>
							{% for department in department_list %}
							<tr>
								<th>{{department.name}}</th>
								{% for program in program_list %}	
									<td id="{{forloop.parentloop.counter}}_{{forloop.counter}}"><i class="material-icons icon-red small">clear</i></td>
								{% endfor %}
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<hr>
				<div class="row">
					<p><h6>Stipend</h6>{{jaf.stipend}} &nbsp {{ jaf.currency }}</p>
				</div>
				<hr>
				<div class="row">
					<p><h6>Selection Procedure</h6></p>
					<table class="striped bordered centered">
						<col width="21%" />
						<col width="21%" />
						<col width="16%" />
						<col width="21%" />
						<col width="21%" />
						<thead>
							<tr>
								<th>Test</th>
								<th>Start Time</th>
								<th>Duration</th>
								<th>Venue</th>
								<th>Other Details</th>
							</tr>
						</thead>
						<tbody>
							{% for test in test_list %}
								<tr>
									<td>{{ test.test_type.type }}</td>
									<td>{{ test.start_time }}</td>
									<td>{{ test.duration }}</td>
									<td>{{ test.location }}</td>
									<td>{{ test.description }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<hr>
				<div class="row">
					<p><h6>Students Applied</h6>{{jaf.student_count}}</p>
				</div>
			</div>
		</div>
	</div>
	
	<div id="modal3" class="modal">
		<form action="{% url 'ic:view_jaf' jaf.id %}" method="post">{% csrf_token %}
			<div class="modal-content">
				<span class="center"><h5>JAF of <span> {{jaf.company.name}} </span>({{jaf.id}} - {{jaf.profile.name}})</h5></span>
				<div class="row">
					<p><h6 class="center">Update Venue and Timings</h6></p>
					<table class="striped bordered centered">
						<col width="15%" />
						<col width="20%" />
						<col width="15%" />
						<col width="15%" />
						<col width="15%" />
						<col width="20%" />
						<thead>
							<tr>
								<th>Test</th>
								<th>Date</th>
								<th>Start Time</th>
								<th>Duration</th>
								<th>Venue</th>
								<th>Other Details</th>
							</tr>
						</thead>
						<tbody>
							{% for test in test_list %}
								<tr>
									<td>{{ test.test_type.type }}</td>

									<td><input name="{{ test.test_number }}-start_date" class="datepicker validate"></td>
                                    <td><input name="{{ test.test_number }}-start_time" class="timepicker validate"></td>
									<td><input name="{{ test.test_number }}-duration" type="number" min="0" step="10" class="validate" value="{{ test.duration }}"/></td>
									<td><input name="{{ test.test_number }}-location" type="text" value="{{ test.location }}" /></td>
									<td><input name="{{ test.test_number }}-description" type="text" maxlength="200" value="{{ test.description }}" /></td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<input type="submit" class="right modal-action modal-close waves-effect grey darken-4 waves-light btn" value="DONE" />
				</div>
			</div>
		</form>
	</div>
{% endblock %}

{% block script %}
	{{ block.super }}
	<script type="text/javascript">
		$(document).ready(function(){
			$('#modal3').modal();
			{% for e in eligibility_list %}
				{% for d in department_list %}
					{% for p in program_list %}	
						{% if e.department.name == d.name and  e.program.name == p.name %}	
							$("#{{forloop.parentloop.counter}}_{{forloop.counter}}").html('<i class="material-icons small icon-green">done</i>');
						{% endif %}

					{% endfor %}
				{% endfor %}
			{% endfor %}
		});
		function editJaf(){
			$('#modal3').modal('open');
		    $('.datepicker').pickadate({
		    	onStart: () => {
  					$('.picker').appendTo('body');
				},
				min: Date.now(),
				selectMonths: true, // Creates a dropdown to control month
				selectYears: 10, // Creates a dropdown of 10 years to control year,
				today: 'Today',
				clear: 'Clear',
				close: 'Ok',
				closeOnSelect: true // Close upon selecting a date,
		});

		$('.timepicker').pickatime({

			default: 'now', // Set default time: 'now', '1:30AM', '16:30'
			fromnow: 0,       // set default time to * milliseconds from now (using with default = 'now')
			twelvehour: false, // Use AM/PM or 24-hour format
			donetext: 'OK', // text for done-button
			cleartext: 'Clear', // text for clear-button
			canceltext: 'Cancel', // Text for cancel-button
			autoclose: true, // automatic close timepicker
			ampmclickable: true, // make AM PM clickable
			aftershow: function(){} //Function for after opening timepicker
		});

		// {% for test in test_list %}
  //           $('#{{ test.test_number }}-start_date').pickadate('picker').set('select',{{test.start_time|date}})
  //           $('#{{ test.test_number }}-start_time').pickatime('picker').set('select',{{test.start_time|time}})
		// {% endfor %}
		}

	</script>
{% endblock %}