{% extends 'ic/root.html' %}
{% block content %}
{% include 'ic/nav.html' %}
 <div class="row">
    <div class="col col xl6 offset-xl3 l6 offset-l3 m12 s12">
        <div class="card blue-grey darken-1">
        	<div class="card-content white-text">
              <span class="card-title">{{jaf.id}} {{jaf.company.name}}</span>
              <p>{{jaf.description}}</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
              <a href="#">This is a link</a>
            </div>
        </div>
    </div>
 </div>

<!-- {% include 'replace/footer.html' %} -->
{% endblock %}
