{% extends 'ic/root.html' %}
{% load static from staticfiles %}
{% block content %}
	<div class="row">
		<div class="card_container grey lighten-5 col xl8 offset-xl2 l8 offset-l2 m12 s12">
			<div class="row">
				<h4> Resume Verification</h4>
			</div>
			<div class="row">
				<table class="highlight bordered centered">
					<thead>
						<tr>
							<th data-field="id">Name</th>
							<th data-field="name">Email</th>
							<th data-field="name">Contact</th>
							<th data-field="number">Department</th>
							<th data-field="number">Verification Status</th>
						</tr>
					</thead>
					<tbody>
						{% for student in unverified_students %}
							<tr class='clickable-row' >
								<td>
									<a href="{% static 'resume/150050009.pdf' %}">{{ student.name }}</a>
								</td>
								<td>
									<a href="mailto:student.email?subject=ResumeVerification&cc=cc@example.com">{{ student.email }}</a>
								</td>
								<td>{{ student.phone_number }}</td>
								<td>{{ student.department.name }}</td>
								<td>
									<p>
      									<input onclick="location.href='{% url 'ic:student_verification' student.id 1 %}';"  type="checkbox" id="student_{{student.id}}" />
      									<label for="student_{{student.id}}"></label>
   									 </p>
								</td>
							</tr>
						{% endfor %}
						{% for student in verified_students %}
							<tr class='clickable-row' >
								<td>
									<a href="{% static 'resume/150050009.pdf' %}">{{ student.name }}</a>
								</td>
								<td>
									<a href="mailto:student.email?subject=ResumeVerification&cc=cc@example.com">{{ student.email }}</a>
								</td>
								<td>{{ student.phone_number }}</td>
								<td>{{ student.department.name }}</td>
								<td>
									<p>
      									<input onclick="location.href='{% url 'ic:student_verification' student.id 0 %}';" type="checkbox" id="student_{{student.id}}" checked="checked" />
      									<label for="student_{{student.id}}"></label>
   									 </p>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div id="modal1" class="modal col l6">
		<form action="{% url 'student:see_jafs' %}" method="post">{% csrf_token %}
			<div class="modal-content">
				<h5 class="center">Filters</h5>
				<div class="row">
					<div class="col m6">
						<input type="checkbox" id="inp1" name="verified" />
						<label for="inp1" class="black-text">Only Verified Resume</label>
					</div>
					<div class="col m6">
						<input type="checkbox" id="inp2" name="unverified" />
						<label for="inp2" class="black-text">Only Unverified Resume</label>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<input type="submit" class="modal-action modal-close waves-effect waves-green btn-flat" value="DONE" />
			</div>
		</form>
	</div>
{% endblock %}
{% block script %}
	{{block.super}}
	<script type="text/javascript">
		$( document ).ready(function() {
			$('.links li:eq(1)').after( '<li><a class="waves-effect hoverable modal-trigger" href="#modal1">Filter</a></li>' );
			$('.links-dropdown li:eq(1)').after( '<li><a class="waves-effect modal-trigger" href="#modal1">Filter</a></li>' );
			$('.modal').modal();
		});
		function verify() {
		}
		function reject() {
		}
	</script>
{% endblock %}