{% extends 'ic/root.html' %}
{% load static from staticfiles %}
{% block content %}
	<div class="row">
		<div class="card_container grey lighten-5 col xl10 offset-xl1 l10 offset-l1 m12 s12">
			<div class="row">
				<h4> Resume Verification</h4>
			</div>
			<div class="row">
				<table class="highlight bordered centered">
					<col width="15%" />
					<col width="15%" />
					
					<col width="10%" />
					<col width="10%" />
					<col width="10%" />
					<col width="10%" />
					
					<col width="10%" />
					<col width="10%" />
					<col width="10%" />

					<thead>
						<tr>
							<th data-field="id">Name</th>
							<th data-field="name">Email</th>
							{% for resume_type in resume_type_list%}
							<th data-field="{{resume_type.0}}">{{resume_type.1}}</th>
							{% endfor %}
							<th data-field="name">Contact</th>
							<th data-field="number">Department</th>
							<th data-field="number">Verification Status</th>
						</tr>
					</thead>
					<tbody>
						{% for student in unverified_students %}
							<tr class='clickable-row' >
								<td>
									<a href="{% url 'ic:view_resume' student.id 0 %}">{{ student.name }}</a>
								</td>
								
								<td>
									<a href="mailto:student.email?subject=ResumeVerification&cc=cc@example.com">{{ student.email }}</a>
								</td>
								{% for resume_type in resume_type_list%}
									<td><a href="{% url 'ic:view_resume' student.id resume_type.0 %}">{{ resume_type.0 }}</a></td>
								{% endfor %}

								<td>{{ student.phone_number }}</td>
								<td>{{ student.department.name }}</td>
								<td>
									<p>
      									<input onclick="location.href='{% url 'ic:student_verification' student.id 1 %}';"  type="checkbox" id="student_{{student.id}}" />
      									<label for="student_{{student.id}}"></label>
   									 </p>
								</td>
							</tr>
						{% endfor %}
						{% for student in verified_students %}
							<tr class='clickable-row' >
								<td>
									<a href="{% url 'ic:view_resume' student.id 0 %}">{{ student.name }}</a>
								</td>
								<td>
									<a href="mailto:student.email?subject=ResumeVerification&cc=cc@example.com">{{ student.email }}</a>
								</td>
								
								{% for resume_type in resume_type_list%}
									<td><a href="{% url 'ic:view_resume' student.id resume_type.0 %}">{{ resume_type.0 }}</a></td>
								{% endfor %}

								<td>{{ student.phone_number }}</td>
								<td>{{ student.department.name }}</td>
								<td>
									<p>
      									<input onclick="location.href='{% url 'ic:student_verification' student.id 0 %}';" type="checkbox" id="student_{{student.id}}" checked="checked" />
      									<label for="student_{{student.id}}"></label>
   									 </p>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
{% block script %}
	{{block.super}}
	<script type="text/javascript">
		function verify() {
		}
		function reject() {
		}
	</script>
{% endblock %}