{% extends 'base.html' %}
{% load static from staticfiles %}

{% block css %}
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="{% static 'css/ic.css' %}">
{% endblock %}

{% block navlinks %}
	<li><a class="waves-effect hoverable" href="{% url 'ic:home'%}">Home</a></li>
	<li><a class="waves-effect hoverable" href="{% url 'ic:resume'%}">Resume</a></li>
	<li><a class="waves-effect hoverable" href="{% url 'ic:logout'%}">Logout</a></li>
{% endblock %}

{% block navlinks_dropdown %}
	<li><a class="waves-effect" href="{% url 'ic:home'%}">Home</a></li>
	<li><a class="waves-effect" href="{% url 'ic:logout'%}">Logout</a></li>
{% endblock %}	