.jaf_container {
	margin: 15% auto;
	text-align: center;
	background-color: rgba(220, 220, 220, 0.9);
}
.login_container {
	margin: 15% auto; 
}
.login_background{
	background-color: rgba(254, 254, 254, 0.9);
	text-align: center;
	padding: 60px;
}