 <footer class="page-footer black">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Lead Designers</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="http://www.cse.iitb.ac.in/~mtaraviya">Meet Taraviya (150050002)</a></li>
          <li><a class="grey-text text-lighten-3" href="http://www.cse.iitb.ac.in/~rishshah">Rishabh Shah (150050006)</a></li>
          <li><a class="grey-text text-lighten-3" href="http://www.cse.iitb.ac.in/~sourabh">Sourabh Singh (150050009)</a></li>
          <li><a class="grey-text text-lighten-3" href="http://www.cse.iitb.ac.in/~harshdepal">Harsh Depal (1500500010)</a></li>
        </ul>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="www.iitb.ac.in">IITB Main Page</a></li>
          <li><a class="grey-text text-lighten-3" href="www.placements.iitb.ac.in">More Info</a></li>
          <li><a class="grey-text text-lighten-3" href="www.placements.iitb.ac.in/trainingblog">Training Blog</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017 Database and Information Systems Project 
    </div>
  </div>
</footer>