{% extends 'replace/root.html' %}
{% load static %}
{% block content %}
    <div id="main_content">
        <div class="grey lighten-3">
            <h3 id="about_us">About Us</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur lobortis odio dui, in gravida leo rhoncus eget. Maecenas rutrum ante molestie sapien ullamcorper, ut accumsan nunc vehicula. Mauris feugiat, purus at placerat fringilla, eros ex accumsan mi, a accumsan orci libero sit amet felis. Sed condimentum odio ac dui vulputate posuere. Etiam posuere quam mi, ac porttitor ipsum aliquam quis. Nullam commodo elit lectus, quis iaculis mi consectetur nec. Donec ornare pretium fringilla.
            </p>
        </div>
        <div class="parallax-container">
            <div class="parallax"><img src="{%static 'images/parallax2.jpg' %}"></div>
        </div>
        <div class="grey lighten-3">
            <h3 id="academics">Academics</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur lobortis odio dui, in gravida leo rhoncus eget. Maecenas rutrum ante molestie sapien ullamcorper, ut accumsan nunc vehicula. Mauris feugiat, purus at placerat fringilla, eros ex accumsan mi, a accumsan orci libero sit amet felis. Sed condimentum odio ac dui vulputate posuere. Etiam posuere quam mi, ac porttitor ipsum aliquam quis. Nullam commodo elit lectus, quis iaculis mi consectetur nec. Donec ornare pretium fringilla.
            </p>
        </div>
        <div class="parallax-container">
            <div class="parallax"><img src="{%static 'images/parallax3.jpg' %}"></div>
        </div>
        <div class="grey lighten-3">
            <h3 id="procedure">Procedure</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur lobortis odio dui, in gravida leo rhoncus eget. Maecenas rutrum ante molestie sapien ullamcorper, ut accumsan nunc vehicula. Mauris feugiat, purus at placerat fringilla, eros ex accumsan mi, a accumsan orci libero sit amet felis. Sed condimentum odio ac dui vulputate posuere. Etiam posuere quam mi, ac porttitor ipsum aliquam quis. Nullam commodo elit lectus, quis iaculis mi consectetur nec. Donec ornare pretium fringilla.
            </p>
        </div>
        <div class="parallax-container">
            <div class="parallax"><img src="{%static 'images/parallax1.jpg' %}"></div>
        </div>
        <div class="grey lighten-3">
            <h3 id="student_profile" >Student Profile</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur lobortis odio dui, in gravida leo rhoncus eget. Maecenas rutrum ante molestie sapien ullamcorper, ut accumsan nunc vehicula. Mauris feugiat, purus at placerat fringilla, eros ex accumsan mi, a accumsan orci libero sit amet felis. Sed condimentum odio ac dui vulputate posuere. Etiam posuere quam mi, ac porttitor ipsum aliquam quis. Nullam commodo elit lectus, quis iaculis mi consectetur nec. Donec ornare pretium fringilla.
            </p>
        </div>
    </div>
{% endblock %}
{% block script%}
    {{ block.super }}
    <script>
    $(document).ready(function(){
    $('.parallax').parallax();
    $('.links li:eq(1)').after( ' <li><a class="waves-effect hoverable" href="#about_us">About Us</a></li>' +
    ' <li><a class="waves-effect hoverable" href="#academics">Academics</a></li>'+
    ' <li><a class="waves-effect hoverable" href="#procedure">Procedure</a></li>'+
    ' <li><a class="waves-effect hoverable" href="#student_profile">Student Profile</a></li>' );
    $('.links-dropdown li:eq(1)').after( ' <li><a class="waves-effect" href="#about_us">About Us</a></li>' +
    ' <li><a class="waves-effect" href="#academics">Academics</a></li>'+
    ' <li><a class="waves-effect" href="#procedure">Procedure</a></li>'+
    ' <li><a class="waves-effect" href="#student_profile">Student Profile</a></li>' );
    $(document).on('click', 'a[href^="#"]', function (event) {
    event.preventDefault();
    $('html, body').animate({
    scrollTop: $($.attr(this, 'href')).offset().top
    }, 1000);
    });
    });
    </script>
{% endblock %}