{% load static %}
<div class="navbar-fixed">
	<nav>
		<div class="nav-wrapper black">
			<a href="{% url 'replace:index' %}" class="brand-logo">
				<img src="{% static 'replace/images/iitb_logo.png' %}">
			Placement Portal</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="#about_us">About Us</a></li>
				<li><a href="#student_profile">Student Profile</a></li>
				<li><a href="#academics">Academics</a></li>
				<li><a href="#procedure">Procedure</a></li>
				<li><a href="#contact_us">Contact Us</a></li>
			</ul>
		</div>
	</nav>
</div>