{% extends 'company/root.html' %}
{% block content %}
<!-- {% include 'ic/nav.html' %} -->
<div id="Container" style="margin: 15% auto; width:30%; text-align: center;background-color: rgba(254, 254, 254, 0.9); padding: 60px;">
	<h4>Company Registration</h4>
	<form action="{% url 'company:register' %}" method="post" id="form">{% csrf_token %}
		<div class="input-field col s12">
		  	<input type="text" name="company-name" placeholder="Company Name"  class="validate">
		  	<input type="password" name="password" placeholder="Password">
		  	<input type="password" name="confirm-password" placeholder="Confirm Password">
		  	<input type="number" name="phone-number" placeholder="Phone Number"  class="validate">
		    <select name="company-category">
		    	  <option value="" disabled selected>Choose Company Category</option>
		    	  {%for category in category_list %}
				  <option value={category}>{category}</option>
				  {% endfor %}
				  <option value="saab">Saab</option>
				  <option value="mercedes">Mercedes</option>
				  <option value="audi">Audi</option>
			</select>

	  		<input type="submit" class="waves-effect waves-light btn grey darken-1" value="Register">
		</div>
	</form> 
</div>
<script>
     $(document).ready(function() {
        $('select').material_select();
    });
</script>
{% endblock %}