{% extends 'base.html' %}
{% load static from staticfiles %}

{% block css %}
	<link rel="stylesheet" href="{% static 'css/materialize-stepper.min.css' %}">
		
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="{% static 'css/ic.css' %}">
	<link rel="stylesheet" href="{% static 'css/company.css' %}">	
{% endblock %}

{% block navlinks %}
	<li><a class="waves-effect hoverable" href="{% url 'company:home'%}">Home</a></li>
	<li><a class="waves-effect hoverable" href="{% url 'company:new_jaf'%}">New JAF</a></li>
	<li><a class="waves-effect hoverable" href="{% url 'company:logout'%}">Logout</a></li>
{% endblock %}

{% block navlinks_dropdown %}
	<li><a class="waves-effect" href="{% url 'company:home'%}">Home</a></li>
	<li><a class="waves-effect" href="{% url 'company:new_jaf'%}">New JAF</a></li>
	<li><a class="waves-effect" href="{% url 'company:logout'%}">Logout</a></li>
{% endblock %}	
