{% extends 'company/root.html' %}
{% block content %}
	<div class="row">
		<div class="card_container grey lighten-5 col xl8 offset-xl2 l8 offset-l2 m12 s12">
			<div class="row">
				<h4> List Of Applicants </h4>
			</div>
			<div class="row">
				<table class="highlight bordered centered">
					<thead>
						<tr>
							<th data-field="id">Roll no.</th>
							<th data-field="name">Name</th>
							<th data-field="name">Department</th>
							<th data-field="name">Program</th>
							<th data-field="number">CPI</th>
                            {% for test in test_list %}
                            <th data-field="name">{{test.test_number}}: test.test_type</th>
                            {% endfor %}
						</tr>
					</thead>
					<tbody>
						{% for student in student_list %}
							<tr class='clickable-row' data-href="">
								<td>{{ student.roll_number }}</td>
								<td>{{ student.name }}</td>
								<td>{{ student.department }}</td>
								<td>{{ student.program }}</td>
								<td>{{ student.cpi }}</td>
								<td>{{ jaf.student_count }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}

{% block script %}
	{{ block.super }}
	<script type="text/javascript">
		$( document ).ready(function() {
			 $(".clickable-row").click(function() {
		        window.location = $(this).data("href");
		    });
		});
	</script>
{% endblock %}