.jaf_container {
	margin: 15% auto;
	width:60%;
	text-align: center;
	background-color: rgba(220, 220, 220, 0.9);
	padding: 10px;
}
.login_container {
	margin: 2.5% auto; 
}
.login_background{
	background-color: rgba(254, 254, 254, 0.9);
	text-align: center;
	padding: 60px;
}

.new_jaf_form {
	margin: 5% 10% 10% 10%;
	background-color: rgba(255, 255, 255, 0.95);
	padding: 10px;
	border-radius: 20px;
}

ul.stepper.horizontal .step-actions{
	background-color: rgba(255, 255, 255, 0);
}
ul.stepper.horizontal .step-content{
	padding-bottom: 0px;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #888888;
    opacity: 1 !important;
}

.tabs .tab a:hover, .tabs .tab a.active{
	color: black;
}
.tabs .tab a{
	color: grey;
	font-size: 1.5em;
}
.tabs {
	background-color:transparent; 
}
.tabs .indicator {
    background-color: black;
}


input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=number]:not(.browser-default):focus:not([readonly])+label, 
textarea.materialize-textarea:focus:not([readonly])+label {
    color: black;
}
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]), 
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid black;
    -webkit-box-shadow: 0 1px 0 0 black;
    box-shadow: 0 1px 0 0 black;
}

ul.stepper.horizontal .step-actions{
	position: relative;
}

.btn-floating.btn-small{
	margin-top: 30px;
}

.input-field .prefix ~ input, .input-field .prefix ~ textarea , .input-field .prefix ~ div.select-wrapper {
    margin-left: 3rem;
    width: 92%;
    width: calc(100% - 3rem); 
}
.material-icons.active {
 	color: green;
}
.dropdown-content {
    max-height:250px;
}
.dropdown-content li > span {
	color: black;
}

.picker__date-display, .picker__weekday-display{
    background-color: black;
}
.picker__time-display{
    background-color: black;
}