{% extends 'student/root.html' %}
{% block content %}
	{% include 'student/nav.html' %}
	<div class="row">
		<div class="col jaf_container xl6 offset-xl3 l6 offset-l3 m6 offset-m3 s12 login_background">
			<div class="row">
				<h4>{{student.name}}</h4>
			</div>
			<div class="row">
				<table class="striped bordered responsive-table">
					<tbody>
						<tr>
							<th>Roll Number</th>
							<td>{{student.id}}</td>
						</tr>
						<tr>
							<th>Department</th>
							<td>{{student.department}}</td>
						</tr>
						<tr>
							<th>Program</th>
							<td>{{student.program}}</td>
						</tr>
						<tr>
							<th>CPI</th>
							<td>{{student.cpi}}</td>
						</tr>
						<tr>
							<th>Email</th>
							<td>{{student.email}}</td>
						</tr>
						<tr>
							<th>Phone Number</th>
							<td>{{student.phone_number}}</td>
						</tr>
						<tr>
							<th>Resume Status</th>
							<td>{{student.resume_verified}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	{% include 'replace/footer.html' %}
	<script type="text/javascript">
    	$( document ).ready(function() {
    		$('.links li:eq(1)').after( '<li><a class="waves-effect hoverable modal-trigger" href="#modal2">Resume</a></li>' );
    	});
	</script>
{% endblock %}