{% extends 'student/root.html' %}

{% block content %}
	<div class="row">
		<div class="col card_container xl6 offset-xl3 l6 offset-l3 m6 offset-m3 s12">
			<div class="row">
				<h4>{{student.name}}</h4>
			</div>
			<div class="row">
				<table class="striped bordered">
					<tbody>
						<tr>
							<th>Roll Number</th>
							<td>{{student.id}}</td>
						</tr>
						<tr>
							<th>Department</th>
							<td>{{student.department}}</td>
						</tr>
						<tr>
							<th>Program</th>
							<td>{{student.program}}</td>
						</tr>
						<tr>
							<th>CPI</th>
							<td>{{student.cpi}}</td>
						</tr>
						<tr>
							<th>Email</th>
							<td>{{student.email}}</td>
						</tr>
						<tr>
							<th>Phone Number</th>
							<td>{{student.phone_number}}</td>
						</tr>
						<tr>
							<th>Resume Status</th>
							<td>{{student.resume_verified}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div id="modal2" class="modal col l6">
	    <form action="{% url 'student:upload_resume' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
	        <div class="modal-content">
	            <h5 class="center">Upload Resumes</h5>
	            <div class="row">
	                <div class="col m6">
	                    <div class="file-field input-field">
	                        <div class="waves-effect waves-light btn grey darken-4 ">
	                            <span>One Page</span>
	                            <input name="one-page" type="file">
	                        </div>
	                        <div class="file-path-wrapper">
	                            <input class="file-path validate" type="text">
	                        </div>
	                    </div>    
	                </div>
	                <div class="col m6">
	                    <div class="file-field input-field">
	                        <div class="waves-effect waves-light btn grey darken-4 ">
	                            <span>Two Page Tech</span>
	                            <input name="two-page-tech" type="file">
	                        </div>
	                        <div class="file-path-wrapper">
	                            <input class="file-path validate" type="text">
	                        </div>
	                    </div>    
	                </div>
	            </div>

	            <div class="row">
	                <div class="col m6">
	                    <div class="file-field input-field">
	                        <div class="waves-effect waves-light btn grey darken-4 ">
	                            <span>Two Page Non Tech</span>
	                            <input name="two-page-non-tech" type="file">
	                        </div>
	                        <div class="file-path-wrapper">
	                            <input class="file-path validate" type="text">
	                        </div>
	                    </div>    
	                </div>
	                <div class="col m6">
	                    <div class="file-field input-field">
	                        <div class="waves-effect waves-light btn grey darken-4 ">
	                            <span>CV</span>
	                            <input name="cv" type="file">
	                        </div>
	                        <div class="file-path-wrapper">
	                            <input class="file-path validate" type="text">
	                        </div>
	                    </div>    
	                </div>
	            </div>
	           <div class="modal-footer">
	                    <input type="submit" class="modal-action modal-close waves-effect waves-light btn-flat" value="DONE" />
	            </div>
	                
	        </div>
	  	</form>
	</div>
{% endblock %}

{% block script %}
	{{block.super}}
	<script type="text/javascript">
    	$( document ).ready(function() {
    		$('.links li:eq(1)').after( '<li><a class="waves-effect hoverable modal-trigger" href="#modal2">Resume</a></li>' );
    		$('.links-dropdown li:eq(1)').after( '<li><a class="waves-effect modal-trigger" href="#modal2">Resume</a></li>' );
    		$('.modal').modal();
    	});
	</script>
{% endblock %}