<!DOCTYPE html>
<html>
<body>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

<div id="Container" style="margin: 20% auto; width:25%;align-items: center;">

	<form action="{% url 'login' %}" method="post" id="form">
	  <input type="text" name="username" placeholder="Username" >
	  <input type="password" name="password" placeholder="Password">
	  <input type="button" class="waves-effect waves-light btn" value="Login">
	</form> 

</div>

</body>
</html>
