{% extends 'student/root.html' %}
{% block content %}
	<div class="row">
		<div class="card_container grey lighten-5 col xl8 offset-xl2 l8 offset-l2 m12 s12">
			<div class="row">
				<h4>My Selections and Reviews</h4>
			</div>
			<div class="row">
				{% if selection_list %}
    				<ul class="collapsible popout" data-collapsible="accordion">
					{% for application in selection_list %}
					<li>
						<div class="collapsible-header"><i class="material-icons">assistant</i>
							{{ application.jaf.company }} - {{ application.jaf.profile }} 
						</div>
						<div class="collapsible-body" id="{{application.jaf.id}}"><span>
						{% if application.review %}
					 		<p class="flow-text">{{ application.review }}</p>
						{% else %}
							<p class="flow-text">Add a review</p>
							<a class="btn-floating btn-small btn waves-effect waves-light grey darken-4" onclick="addReview('{{application.jaf.id}}');">
								<i class="material-icons small">edit</i>
							</a>
						{% endif%}
						</span></div>
					</li>
					{% endfor %}
				</ul>
    			{% else %}
			    	<p class="flow-text center">No selections till now</p>
			  	{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
{% block script %}
	{{block.super}}
	<script type="text/javascript">
		$( document ).ready(function() {
			$('.collapsible').collapsible();
		});
		function addReview(id) {
			$('#'+id).html('<div class="row">'+
				"<form class=\"col s12\" method=\"post\" action=\"{% url 'student:my_jobs' %}\">{% csrf_token %}"+
					'<input type="hidden" name="id" value="'+ id + '">'+
					'<div class="row">'+
						'<div class="input-field col s12">'+
							'<i class="material-icons prefix tiny">mode_edit</i>'+
							'<textarea name="review" id="icon_description" class="materialize-textarea validate" data-length="200"></textarea>'+
							'<label for="icon_description">Write a review</label>'+
						'</div>'+
					'</div>'+
					'<button type="submit" class="waves-effect waves-light btn grey darken-4">POST</button>'+
				'</form>'+
				'</div>'
				);
		}
	</script>
{% endblock %}