{% load static %}
<div class="navbar-fixed">
    <nav>
		<div class="nav-wrapper black">
			<a href="{% url 'replace:index' %}" class="brand-logo">
				<img src="{% static 'replace/images/iitb_logo.png' %}">
			Placement Portal</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a class="modal-trigger" href="#modal1">Filters</a></li>
				<li><a href="{% url 'student:logout'%}">Logout</a></li>
			</ul>
		</div>
	</nav>
    <a class="modal-trigger" href="#modal1">Modal</a>
    <script>$(document).ready(function(){
    $('.modal').modal();

  });</script>
</div>

<div id="modal1" class="modal col l6">
    <form action="/student/home/" method="post">
    <div class="modal-content">
      <h5 class="center">Filters</h5>

              <a href="#!"><input type="checkbox" id="inp1" name="cansign" />
              <label for="inp1" class="black-text">Only JAFs I can sign/unsign</label></a>
                <br>
        <br>
              <a href="#!"><input type="checkbox" id="inp2" name="signed" />
              <label for="inp2" class="black-text">Only JAFs I have signed</label></a>
                <br> From
                <div class="input-field inline">
                    <input id="min_stipend" type="number" min="0" name="minstipend">
                    <label for="min_stipend" data-error="wrong" data-success="right">Min stipend</label>
                </div> to <div class="input-field inline">
                    <input id="max_stipend" type="number" min="0" name="maxstipend">
                    <label for="max_stipend" data-error="wrong" data-success="right">Max stipend</label>
                </div>
                <br> From
                <div class="input-field inline">
                    <input id="min_cpi" type="number" min="0" name="mincpi">
                    <label for="min_stipend" data-error="wrong" data-success="right">Min CPI cutoff</label>
                </div> to <div class="input-field inline">
                    <input id="max_cpi" type="number" min="0" name="maxcpi">
                    <label for="max_stipend" data-error="wrong" data-success="right">Max CPI cutoff</label>
                </div>
        <br>
        <div class="row">
            <div class="col l3">
        <a href="#!"><input type="checkbox" id="i1" name="I1" checked="true"/>
              <label for="i1" class="black-text">I1</label></a></div>

            <div class="col l3">
        <a href="#!"><input type="checkbox" id="i2" name="I2" checked="true" />
              <label for="i2" class="black-text">I2</label></a></div>

            <div class="col l3">
        <a href="#!"><input type="checkbox" id="i3" name="I3" checked="true" />
              <label for="i3" class="black-text">I3</label></a></div>

            <div class="col l3">
        <a href="#!"><input type="checkbox" id="i4" name="I4" checked="true" />
              <label for="i4" class="black-text">I4</label></a></div>
        </div>
    </div>
    <div class="modal-footer">
      <input type="submit" class="modal-action modal-close waves-effect waves-green btn-flat" value="DONE" />
    </div>
         {% csrf_token %}
    </form>
</div>