{% load static %}
<!DOCTYPE html>
<html>
	<body  background="{% static 'replace/images/placements.jpg' %}";   style="background-size: 120%;" >
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'replace/css/main.css' %}">
		<link rel="stylesheet" href="{% static 'ic/css/ic.css' %}">
		<link rel="stylesheet" href="{% static 'student/css/student.css' %}">
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
		{% block content %}
		{% endblock %}
	</body>
</html>