{% extends 'base.html' %}
{% load static %}

{% block css %}
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="{% static 'css/student.css' %}">
{% endblock %}

{% block navlinks %}
	<li><a class="waves-effect hoverable" href="{% url 'student:home'%}" >Home</a></li>
	<li><a class="waves-effect hoverable" href="{% url 'student:see_jafs'%}">JAFs</a></li>
 	<li><a class="waves-effect hoverable" href="{% url 'student:my_jobs'%}">My Jobs</a></li>
 	<li><a class="waves-effect hoverable" href="{% url 'student:logout'%}">Logout</a></li>
{% endblock %}

{% block navlinks_dropdown %}
	<li><a class="waves-effect " href="{% url 'student:home'%}" >Home</a></li>
	<li><a class="waves-effect " href="{% url 'student:see_jafs'%}">JAFs</a></li>
 	<li><a class="waves-effect " href="{% url 'student:my_jobs'%}">My Jobs</a></li>
 	<li><a class="waves-effect " href="{% url 'student:logout'%}">Logout</a></li>
{% endblock %}	

{% block script%}
	{{ block.super }}
	<script>
		$( document ).ready(function() {
			$(document).on('click', 'a[href^="#"]', function (event) {
			    event.preventDefault();
			    $('html, body').animate({
			        scrollTop: $($.attr(this, 'href')).offset().top
			    }, 1000);
			});
		});
	</script>
{% endblock %}	
