ul.stepper.horizontal .step-actions{
	background-color: rgba(255, 255, 255, 0);
}
ul.stepper.horizontal .step-content{
	padding-bottom: 0px;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #888888;
    opacity: 1 !important;
}
ul.stepper.horizontal{
    min-height: 600px;
}
hr.dark{
    height: 2px;
    background-color: black;
}

input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=number]:not(.browser-default):focus:not([readonly])+label, 
textarea.materialize-textarea:focus:not([readonly])+label {
    color: black;
}
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]), 
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid black;
    -webkit-box-shadow: 0 1px 0 0 black;
    box-shadow: 0 1px 0 0 black;
}

ul.stepper.horizontal .step-actions{
	position: relative;
}

.btn-floating.btn-small{
	margin-top: 30px;
}

.input-field .prefix ~ input, .input-field .prefix ~ textarea , .input-field .prefix ~ div.select-wrapper {
    margin-left: 3rem;
    width: 92%;
    width: calc(100% - 3rem); 
}

.picker__date-display, .picker__weekday-display{
    background-color: black;
}
.picker__time-display{
    background-color: black;
}

.card_container th{
    font-size: 1em;
}

.checkbox-black[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #2196f3;
    background-color: #2196f3;
}
.checkbox-black[type="checkbox"]:checked+label:before{
    border-ght: 2px solid #2196f3;
    border-bottom: 2px solid #2196f3;
}

/**/ 
[type="checkbox"]+label:before{
    border: 2px solid orange;
    background-color: white;
}
[type="checkbox"]:checked+label:before{
    border-right: 2px solid orange;
    border-bottom: 2px solid orange;
    background-color: transparent;
}


[type="checkbox"]:checked:disabled+label:before{
    border-right: 2px solid green;
    border-bottom: 2px solid green;
    background-color: transparent;
}

[type="checkbox"]:not(:checked):disabled+label:after{
    border: 2px solid grey;
    background-color: grey;
}
[type="checkbox"]:not(:checked):disabled+label:before{
    border: 2px solid grey;
    background-color: grey;
}

input:checked + label {
    color: green;
}

input:not(:checked) + label {
    color: red;
}

.checkbox-black[type="checkbox"].filled-in:not(:checked)+label:after{
    border: 2px solid #2196f3;
}