.jaf{
	margin: 5%;
	font-size: 0.85em;
}

.jaf h6 {
	font-size: 1.6em;
	font-weight: normal;
	font-variant: small-caps;
	font-style: italic;
}

.jaf span span{
	font-weight: bolder;
	font-variant: small-caps;
	font-style: italic;	
}
.jaf td {
	padding: 2px;
}
.jaf th {
	padding: 5px;
}

.jaf table{
	margin-top: 10px;
	border: 1px solid #b1b1b1;
	border-collapse: collapse;	
}
.jaf .row .col.m6{
	padding: 0px;
}