.tabs .tab a:hover, .tabs .tab a.active{
    color: black;
}
.tabs .tab a{
    color: grey;
    font-size: 1.5em;
}
.tabs {
    background-color:transparent; 
}
.tabs .indicator {
    background-color: black;
}


.card_container .card {
    background-color: transparent;
    box-shadow: none;
}

#final_selections .card{
    margin:0px;
}
#final_selections a.waves-effect.hoverable{
    width: 100%;
}
#final_selections .card .card-content {
    padding:10px;
}

.card_container .card .card-image{
    background-image: url("../images/student_logo.png");
    background-size: 100% 100%;
    width: 300px;
    height: 300px;
}

.card_container h6 {
    font-size: 1.1em;
    font-weight: normal;
    text-align: left;
    font-variant: small-caps;
    font-style: italic;
}
.card_container .row .info {
    text-align: left;
}
.card_container .row span {
    font-size: 1.1em;
}

.card_container .card .card-image h4{
    width: 100%;
    height: 100%;
    vertical-align: middle;
    margin-top:65px;
    margin-left: 8px;
    text-align: center;
    color: #ffab40;
}

.card_container .blog .card .card-title h5{
    text-align: center;
    color: #ffab40;
}


div.horizontal_scroll {
    width: 100%;
    height: 500px;
    overflow: auto;
}

.table {
    display: table;
    table-layout: fixed;
    width: 100%;
}

table.centered.table tbody tr td{
    width: 410px; 
    height: 420px;
}

.card.card-tab{
    height: 420px;
    vertical-align: middle;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
.card.card-tab  p{
    overflow: auto;
    height: 150px;  
} 
.card.card-tab  .card-title{
    overflow: auto;
    height: 150px;  
    padding-left: 10px;
    padding-right: 10px;
} 

.card.card-tab  .card-action{
    padding-bottom: 0px;
    margin-top: 10px;  
} 

// Some styling for contrast.
article:nth-child(2n+2)
{
    background: #d1d1d1;
}